@model TradeTracker.Models.Client


<h2 class="page-title">Delete Client</h2>
<hr />

<div class="form-custom">
    <div class="form-group text-center">
        <h4>
            <span class="font-weight-bold">
                @Html.DisplayNameFor(model => model.Name):
            </span>
            <span>
                @Html.DisplayFor(
                    model => model.Name,
                    new
                    {
                        @class = "form-control form-spacing"
                    }
                )
            </span>
        </h4>
        @if (Model.Email != null)
        {
            <h4>
                <span class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.Email):
                </span>
                <span>
                    @Html.DisplayFor(
                         model => model.Email,
                         new
                         {
                             @class = "form-control form-spacing"
                         }
                     )
                </span>
            </h4>
        }
        @if (Model.Phone != null)
        {
            <h4>
                <span class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.Phone):
                </span>
                <span>
                    @Html.DisplayFor(
                 model => model.Phone,
                 new
                 {
                     @class = "form-control form-spacing"
                 }
             )
                </span>
            </h4>
        }
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-custom">
        <div class="home-title">
            <input type="submit" class="search-width operation-button btn btn-success form-spacing" value="Delete" />
        </div>
    </div>

}
<div class="form-custom">
    <div class="home-title">
        <a href="/Clients" class="search-width operation-button btn btn-danger form-spacing">
            Back to Clients
        </a>
    </div>
</div>


